.mainContainer{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.title{
    font-size: 32px;
    font-weight: semi-bold;
    margin: 0;
}
.subtitle{
    font-size: 18px;
    color: gray;
    margin: 0;
}