.mainContainer{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.title{
    font-size: 32px;
    font-weight: semi-bold;
    margin: 0;
}
.subtitle{
    font-size: 18px;
    color: gray;
    margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
}

.button{
  border-radius: 8px;
}

.filters {
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
}