.mainContainer{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.title{
    font-size: 32px;
    font-weight: semi-bold;
    margin: 0;
}
.subtitle{
    font-size: 18px;
    color: gray;
    margin: 0;
}
.formContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
.button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: hotpink;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    margin-top: 4%;
}
.button:hover {
    background-color: deeppink;
}
.inputField{
    width: 80%;
    padding: 10px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.label{
    text-align: end;
    width: 260%;
    margin-top: 15px;
}