<div class="mainContainer">
    <div class="title">Add New Country</div>
    <p class="subtitle">Fill in the details below to add a new country</p>
    <div class="formContainer">
        <form>
        <div class="label">
            <label for="countryName">Country Name:</label>
            <input class="inputField" id="countryName" name="countryName" required>
        </div>
        <div class="label">
            <label for="countryCode">Capital:</label>
            <input class="inputField" type="text" id="capital" name="capital" required>
        </div>
        <div class="label">
            <label for="population">Population:</label>
            <input class="inputField" type="number" id="population" name="population" required>
        </div>
        <div class="label" id="region">
            <label for="region">Region:</label>
            <select formControlName="region" class="inputField" required>
                @for (region of regions; track region) {
                    <option [value]="region">
                        {{ region }}
                    </option>
                }
            </select>
        </div>
        <div class="label">
            <label for="flagUrl">Flag URL:</label>
            <input class="inputField" type="text" id="flagUrl" name="flagUrl" required>
        </div>
        <button class="button" type="submit">Add Country</button>
    </form>
    </div>
</div>
<!--
- Crear la nueva ruta
- Agregar el enlace en el menú
- Crear el formulario para agregar nuevos países
-->