.error-message {
    color: red;
    font-size: 80px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-2 {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: hotpink;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    margin-top: 4%;
}

.home-button:hover {
    background-color: deeppink;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}