.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
    background-color: pink;
    height: 50px;
}
.menuItem{
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer; 
    margin-left: 1%;
    align-items:start;
    width: 155px;
}
.menuItem:hover{
    color: hotpink;
    font-size: 20px;
}